
.social ul {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  margin-top: 10rem !important;
}

.social ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

ul li:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;;
  transform-origin: top;
  transform: skewX(-41deg);
}

ul li:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  transform-origin: right;
  transform: skewY(-49deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #d22929;
  color: #fff;
  font-size: 30px !important;
  transition: 0.3s ease-out;
  border-radius: 10px;
}

ul li:hover span {
  z-index: 1000;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Hover offsets for 3D effect */
ul li:hover span:nth-child(5) { transform: translate(40px, -40px); opacity: 1; }
ul li:hover span:nth-child(4) { transform: translate(30px, -30px); opacity: 0.8; }
ul li:hover span:nth-child(3) { transform: translate(20px, -20px); opacity: 0.6; }
ul li:hover span:nth-child(2) { transform: translate(10px, -10px); opacity: 0.4; }
ul li:hover span:nth-child(1) { transform: translate(0px, 0px); opacity: 0.2; }

/* Brand colors for hover */
ul li:nth-child(1):hover span { background: #1877F2 !important; }  /* Facebook Blue */
ul li:nth-child(2):hover span { background: #69C9D0 !important; }  /* TikTok */
ul li:nth-child(3):hover span { background: #E1306C !important; }  /* Instagram */
ul li:nth-child(4):hover span { background: #0A66C2 !important; }  /* LinkedIn */
