@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    animation: s3 10s infinite linear;
  }
  .f-spinner {
    animation: s3 1s infinite linear;
  }

  @keyframes s3 {
    to {
      transform: rotate(360deg);
    }
  }

@layer components {
  .form-input {
    @apply w-full p-2 rounded-xl text-red-400
           dark:bg-black placeholder-red-400
           focus:border-red-500 focus:outline-none
           transition-colors duration-300;
  }
}


.diamond-grid      {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.gallery {
  --size: 100px;
  display: grid;
  grid-template-columns: repeat(6, var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;
  
  &:has(:hover) img:not(:hover),
  &:has(:focus) img:not(:focus){
    filter: brightness(0.5) contrast(0.5);
  }

  & img {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
    transition: clip-path 0.25s, filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;

    &:nth-child(5n - 1) { 
      grid-column: 2 / span 2 
    }

    &:hover,
    &:focus {
      clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
      z-index: 1;
      transition: clip-path 0.25s, filter 0.25s;
    }
    
    &:focus {
      outline: 1px dashed black;
      outline-offset: -5px;
    }
  }
}

}

/* Control / input box */
.react-select__control {
  @apply bg-white dark:bg-black border border-red-300 dark:border-red-700 rounded-xl p-3 shadow-sm
         focus:outline-none focus:ring-2 focus:ring-red-500 dark:focus:ring-red-600 transition-all duration-300;
}

.react-select__single-value,
.react-select__placeholder,
.react-select__option {
  @apply text-red-400;
}

.react-select__menu {
  @apply bg-white dark:bg-black 
   rounded-xl shadow-sm;
}

.react-select__option--is-focused {
  @apply bg-red-100 dark:bg-black;
}

